{# templates/web/home.html.twig #}
{% extends 'base.html.twig' %}


{#{% block title %}Symfony - Welcome{% endblock %}#}


{% block body %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <div class="body">
 


       
    <div class="container">    
        
        
       
        <!--div class="row  textoblanco">
            <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
		
                <h3>¿QUÉ ES EL MIDI?</h3>
                El Multimedia Interactivo Didáctico para la Educación 
                Básica Infantil es un proyecto educativo denominado “MIDI”, 
                el cual se está desarrollando como tema de tesis por los 
                alumnos de las carreras de Análisis de Sistemas y Diseño 
                Gráfico.

                Este proyecto ha contado con la valiosa colaboración tanto 
                económica como logística de una importante unidad de la ESPOL,
                el PROTCOM, como componente ejecutor de este Proyecto, 
                recibiendo equipos, instalaciones, software y material de 
                trabajo que han ayudado para la investigación, pre-producción, 
                producción y post producción de este proyecto.
            </div>
            <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12">
                <h3>¿QUÉ ES 4 AVENTURAS?</h3>
                Concientes de la deficiencia del sistema educativo de nuestro país, 
                en especial la etapa pre-escolar, y por ser ésta muy amplia e 
                importante en la educación inicial de todo niño, se vio la necesidad 
                de realizar una secuencia de aplicaciones, con el objetivo de cubrir 
                todos los temas relacionados con las ciencias básicas.
                
                La aplicación sirve de apoyo al maestro para complementar su enseñanza 
                y permite al niño a través de historias y juegos aprender de una manera 
                fácil y entretenida.
                

		<br><br><br><br><br><br>

            </div>
            
            
            
            
            
        </div-->  
  







<div class="w3-row-padding">

<div class="w3-third w3-margin-bottom">
  <ul class="w3-ul w3-border w3-center w3-hover-shadow" style="background-color:white;">
    <li class="w3-blue w3-xlarge w3-padding-32">¿QUÉ ES EL MIDI?</li>
    <li class="w3-padding-16">
		El Multimedia Interactivo Didáctico para la Educación 
                Básica Infantil es un proyecto educativo denominado “MIDI”, 
                el cual se está desarrollando como tema de tesis por los 
                alumnos de las carreras de Análisis de Sistemas y Diseño 
                Gráfico.<br>
Este proyecto ha contado con la valiosa colaboración tanto 
                económica como logística de una importante unidad de la ESPOL,
                el PROTCOM, como componente ejecutor de este Proyecto, 
                recibiendo equipos, instalaciones, software y material de 
                trabajo que han ayudado para la investigación, pre-producción, 
                producción y post producción de este proyecto.
</li>
   
  </ul>
</div>

<div class="w3-third w3-margin-bottom">
  
  <ul class="w3-ul w3-border w3-center w3-hover-shadow" style="background-color:white;">
    <li class="w3-green w3-xlarge w3-padding-32">¿QUÉ ES 4 AVENTURAS?</li>
    <li class="w3-padding-16">Concientes de la deficiencia del sistema educativo de nuestro país, 
                en especial la etapa pre-escolar, y por ser ésta muy amplia e 
                importante en la educación inicial de todo niño, se vio la necesidad 
                de realizar una secuencia de aplicaciones, con el objetivo de cubrir 
                todos los temas relacionados con las ciencias básicas.<br>
                
                La aplicación sirve de apoyo al maestro para complementar su enseñanza 
                y permite al niño a través de historias y juegos aprender de una manera 
                fácil y entretenida.<br></li>

    </li>
  </ul>
</div>

<div class="w3-third w3-margin-bottom">
  <ul class="w3-ul w3-border w3-center w3-hover-shadow" style="background-color:white;">
    <li class="w3-blue w3-xlarge w3-padding-32">¿QUÉ ES EL MIDI?</li>
    <li class="w3-padding-16">
		El Multimedia Interactivo Didáctico para la Educación 
                Básica Infantil es un proyecto educativo denominado “MIDI”, 
                el cual se está desarrollando como tema de tesis por los 
                alumnos de las carreras de Análisis de Sistemas y Diseño 
                Gráfico.<br>
Este proyecto ha contado con la valiosa colaboración tanto 
                económica como logística de una importante unidad de la ESPOL,
                el PROTCOM, como componente ejecutor de este Proyecto, 
                recibiendo equipos, instalaciones, software y material de 
                trabajo que han ayudado para la investigación, pre-producción, 
                producción y post producción de este proyecto.
</li>
   
  </ul>
</div>

</div>
















      
       
      
      </div>        
        
   
    
    



{% endblock %}

{% block javascripts %}
    {#<script src="{{ asset('js/jquery-3.2.1.js') }}"></script>#}
    {#<script src="{{ asset('js/funcion.js') }}"></script>#}
{% endblock %}
