*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
.body {
    /*height: 100%;*/
    width: 100%;
    background-position:  center center;
    background: url('../images/game/fondo_body.jpg') ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #66999;
    /*height: 100%;*/
    margin: 0;
    border-collapse: collapse;
    padding-top: 60px;
}
.header {
    /*height: 100%;*/
    /*width: 100%;*/
    background-position:  center center;
    background: url('../images/game/fondo_header.jpg') ;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
    background-color: #66999;
    height: 145px;
    margin: 0;
    border-collapse: collapse;
}

/*.body {*/
/*height: 100%;*/
/*width: 100%;*/
/*background-position:  center center;*/
/*background: url('../images/game/fondo_body.jpg') ;*/
/*background-position: center center;*/
/*background-repeat: no-repeat;*/
/*background-attachment: fixed;*/
/*background-size: cover;*/
/*background-color: #66999;*/
/*height: 100%;*/
/*margin: 0;*/
/*border-collapse: collapse;*/
/*padding-top: 60px;*/
/*}*/


.row{
    padding: 20 0 20 0;
    
}
/*Empieza codigo de menu nav*/
/*https://tutorialzine.com/2011/05/css3-animated-navigation-menu*/

.fancyNav{
    /* Affects the UL element */
    margin-left: 56%;
    margin-top: -79px;
    overflow: hidden;
    display: inline-block;
   
    border-radius: 4px;
    /*-moz-border-radius: 4px;*/
    /*-webkit-border-radius: 4px;*/

    box-shadow: #000000 5px 5px 0px 0px;
    /*box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);*/
    /*-moz-box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);*/
    /*-webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);*/
}

.fancyNav li{
    /* Specifying a fallback color and we define CSS3 gradients for the major browsers: */

    /*background-color: #f0f0f0;*/
    background-color: #f3983f;
    /*f3983f*/
    /*background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));*/
    /*background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);*/
    /*background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);*/
    /*background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);*/
    /*background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);*/

    border-right: 1px solid rgba(9, 9, 9, 0.125);

    /* Adding a 1px inset highlight for a more polished efect: */

    /*box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;*/
    /*-moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;*/
    /*-webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;*/

    position:relative;

    float: left;
    list-style: none;
}

.fancyNav li:after{

    /* This creates a pseudo element inslide each LI */ 

    content:'.';
    text-indent:-9999px;
    overflow:hidden;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1;
    opacity:0;


    background-color: #000000;
    /* Gradients! */

    /*background-image:-webkit-gradient(linear, left top, right top, from(rgba(168,168,168,0.5)),color-stop(0.5,rgba(168,168,168,0)), to(rgba(168,168,168,0.5)));*/
    /*background-image:-moz-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));*/
    /*background-image:-o-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));*/
    /*background-image:-ms-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));*/
    /*background-image:linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));*/

    /* Creating borders with box-shadow. Useful, as they don't affect the size of the element. */

    /*box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;*/
    /*-moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;*/
    /*-webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;*/

    /* This will create a smooth transition for the opacity property */

    /*-moz-transition:0.25s all;*/
    /*-webkit-transition:0.25s all;*/
    /*-o-transition:0.25s all;*/
    /*transition:0.25s all;*/
}

/* Treating the first LI and li:after elements separately */

.fancyNav li:first-child{
    border-radius: 4px 0 0 4px;
}

.fancyNav li:first-child:after,
.fancyNav li.selected:first-child:after{
    box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
    -moz-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
    -webkit-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;

    border-radius:4px 0 0 4px;
}

.fancyNav li:last-child{
    border-radius: 0 4px 4px 0;
}

/* Treating the last LI and li:after elements separately */

.fancyNav li:last-child:after,
.fancyNav li.selected:last-child:after{
    box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
    -moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
    -webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;

    border-radius:0 4px 4px 0;
}

.fancyNav li:hover:after,
.fancyNav li.selected:after,
.fancyNav li:target:after{
    /* This property triggers the CSS3 transition */
    opacity:1;
}


.fancyNav:hover li.selected:after,
.fancyNav:hover li:target:after{
    /* Hides the targeted li when we are hovering on the UL */
    opacity:0;
}

.fancyNav li.selected:hover:after,
.fancyNav li:target:hover:after{
    opacity:1 !important;
}


/* Styling the anchor elements */

.fancyNav li a{
    /*color: #5d5d5d;*/
    color: #fff;

    display: inline-block;
    font: 20px/1 Lobster,Arial,sans-serif;
    padding: 25px 35px 25px;/*la dimension del boton*/
    position: relative;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
    z-index:2;
    text-decoration:none !important;
    white-space:nowrap;
}


/*Finaliza codigo de menu nav*/


















/*.container{*/
/*    margin-left: */
/*}*/


img.logo{
    /*width: 20%;*/
    height: 125px;
    margin-left: -15px;
    /*margin-top: 18px;*/
    padding: 15px;

}



.footer {
/*height: 100%;*/
/*width: 100%;*/
background-position:  center center;
background: url('../images/game/fondo_footer.jpg') ;
background-position: center center;
background-repeat: no-repeat;
/*background-attachment: fixed;*/
background-size: cover;
background-color: #66999;
height: 190px;
margin: 0;
margin-top: 70px;
padding: 20 0 20 0;
border-collapse: collapse;
}





img.tablet{
    display: inline;
}
.text1-footer{
    color:white;
    margin: -46 0 0 70;
}

.text2-footer{
    color:white;
}

.logo-espol{
    margin-right: 0px;
    /* margin-left: auto; */
    float: right;
    margin-top: 20px;
    width: 80px;
}

img.imagen-juego{
    width: 100%;
    /*margin-bottom: 25px;*/
    margin-top: 25px;
}



/*hover de imagen en gallery*/
.hovereffect {
    width: 100%;
    /*height: 100%;*/
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
	top: auto;
	bottom: 0;
	padding: 10px;
	height: 3.75em;
	/*background: #79FAC4;*/
	background: rgba(0,0,0,.5); 
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	/*visibility: hidden;*/

}

.hovereffect img {
    display: block;
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.hovereffect:hover img {
/*-webkit-transform: translate3d(0,-10%,0);*/
/*	transform: translate3d(0,-10%,0);*/
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    /*background: rgba(0,0,0,.5); */
	float: left;
	margin: 0px;
	display: inline-block;
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
	color: #fff;
	/*border: 1px solid #fff;*/
	margin: 50px 0 0 0;
	background-color: transparent;
}
.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}


.hovereffect p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
	color: #252d31;
}

.hovereffect h2,
.hovereffect p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
	visibility: visible;
}

.hovereffect p.icon-links a span:before {
	display: inline-block;
	padding: 8px 10px;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.hovereffect:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}




/*Ventana emergente*/
#ventana_body{
    background-color: #9ec3cb;
    color: white;
    padding-left: 20px;
    padding-top: 20px;
    padding-right:  20px;
    
}

#grafico{
    width: 100%;
}

#tutorial_text{
    background-color: #6397a4;
    width: 80%;
    padding-left: 20px;
    
    /*text-align: left;*/
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
}

#jugar_text{
    background-color: #b1e880;
    width: 20%;
    text-align: center;
    padding: 10 0 10 0;
    color: white;
    font-weight: bold;

}

.jBox-container {

    background: none;

}


/*menu responsive*/
a:not([href]):not([tabindex]) {

    color: aliceblue;
    text-decoration: none;

}






.topnav {
    overflow: hidden;
    /*background-color: #333;*/
  
  
    margin-left: 50%;
    margin-top: -60px;
    
    border-radius: 4px 4px 4px 4px;
    box-shadow: #000000 5px 5px 0px 0px;
    background-color: #f3983f;
    
    
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
  
  border-right: 1px solid rgba(9, 9, 9, 0.125);
}

.topnav a:hover {
  /*background-color: #ddd;*/
  background-color: #cf843a;
  color: white;
}

.active {
  /*background-color: #4CAF50;*/
  color: white;
  background-color: #f3983f;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  
  
}

@media screen and (max-width: 600px) {
    
  .row{
       margin-top: 100px;     
   }
   


    
  .topnav.responsive {
      position: relative;
      
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    
  }
  

  
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    /*border-bottom:  1px solid rgba(9, 9, 9, 0.125);*/
  }
 
 
}

@media screen and (max-width: 1000px) {
    .logo-espol{
       display: none;
    }
    .text2-footer{
        display: none;
    }
    .text1-footer {
        color: white;
        margin: -76 0 0 70;
    }
    .topnav {
        overflow: hidden;
        /*background-color: #333;*/
        background-color: #f3983f;
      
        margin-left: 0;
        margin-top: 0;
    }
    
    


    

}




.formutext{
    box-shadow: 10px 10px 5px grey;
}



/*contact info box*/
.container2 {
    width:900px;
    margin:250px auto 0;
    display:flex;
}
.container2 .box {
    position:relative;
    width: 300px;
    height:100px;
    box-sizing:border-box;
    text-align:center;
    margin:0 10px;
    background:#00171d;
    overflow:hidden;
    border-radius:4px;
    box-shadow:0 0 0 2px rgba(0,7,10,1);
}
.container2 .box .icon {
    width:100%;
    height:100%;
    background:#00171d;
    transition: 0.5s;
}
.container2 .box .icon .fa {
    font-size: 4em;
    line-height:100px;
    color: #0ff;
}
.container2 .box:hover .icon {
    transform:scale(0);
}
.container2 .box .details {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#03a9f4;
    transition:0.5s;
    transform:scale(2);
    opacity:0;
}
.container2 .box:hover .details {
    transform:scale(1);
    opacity:1;
}
.container2 .box .details h3 {
    margin:0;
    padding:0;
    line-height:100px;
    font-size:24px;
    color:#fff;
}
.container2 .box .details:nth-child(2) .details {
    background:#e91e63;
}
.container2 .box .details:nth-child(2) .details {
    background:#607d8b;
}



/*estilos de nosotros*/
.textoblanco{
color:white;
}





